html {
    height: 100%;
}

body {
    height: 100%;
    margin:0;
}

#content {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'learning_curvebold';
    font-size: 250px;
    margin: 0;
    text-align: center;
}

#home-buttons {
    display: flex;
    gap: 16px;
    width: 50%;
}

#home-buttons>button {
    flex: 1;
    height: 50px;
    font-family: 'sansationbold';
    font-size: 24px;
    background-color: orange;
    border-radius: 16px;
    border-style: hidden;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

#auth-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#form-header {
    margin-bottom: 16px;
    text-align: center;
    font-family: 'action_man_shadedregular';
    font-size: 32px;
}

#form-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

#form-buttons>button {
    width: 100%;
    height: 36px;
    font-size: 16px;
    background-color: orange;
    font-family: 'sansationbold';
    border-radius: 16px;
    border-style: hidden;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

form {
    font-family: 'robotoregular';
}

#header {
    display: flex;
    justify-content: space-between;
}

#app-title {
    font-family: 'learning_curvebold';
    font-size: 82px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

#nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
    width: 450px;
    padding-right: 8px;
}

.nav-button {
    width: 100%;
    height: 40px;
    font-family: 'sansationbold';
    font-size: 16px;
    border-radius: 16px;
    border-style: hidden;
    background-color: orange;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

#cards {
    background-color: rgb(199, 199, 199);
    height: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 400px));
    grid-template-rows: 125px;
    gap: 16px;
}

.project-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);

}

.upper-card {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.lower-card {
    display: flex;
    gap: 50%;
}

.card-button {
    font-family: 'sansationbold';
    flex: 1;
    height: 32px;
    border-radius: 16px;
    border-style: hidden;
    background-color: orange;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

.project-title, .project-date {
    font-family: 'action_manregular';
    font-size: 20px;
}

@font-face {
    font-family: 'action_manregular';
    src: url('./assets/fonts/action_man-webfont.woff2') format('woff2'),
         url('./assets/fonts/action_man-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'action_manbold';
    src: url('./assets/fonts/action_man_bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/action_man_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'action_man_shadedregular';
    src: url('./assets/fonts/action_man_shaded-webfont.woff2') format('woff2'),
         url('./assets/fonts/action_man_shaded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'learning_curvebold';
    src: url('./assets/fonts/learning_curve_bold_ot_tt-webfont.woff2') format('woff2'),
         url('./assets/fonts/learning_curve_bold_ot_tt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'learning_curveregular';
    src: url('./assets/fonts/learning_curve_regular_ot_tt-webfont.woff2') format('woff2'),
         url('./assets/fonts/learning_curve_regular_ot_tt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('./assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationbold';
    src: url('./assets/fonts/sansation-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/sansation-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationregular';
    src: url('./assets/fonts/sansation-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/sansation-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'seasideresortnfregular';
    src: url('./assets/fonts/seasrn__-webfont.woff2') format('woff2'),
         url('./assets/fonts/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}